@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background-image:url(bj.jpg);
    background-size: cover;
}

.container {
    text-align: center;
    padding: 1rem;
    margin: auto;
    color: white;
    font-size: xx-large;
}

h1{
    color: goldenrod;
}

button{
    font-size: xx-large;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    color: green;
    border: 1px solid grey;
    cursor: pointer;
    background-color: goldenrod;
    font-weight: bold;
}
button:hover{
    color: black;
    border: 1px solid grey;

}

